body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #212121;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #1a1a1a;
}

ul ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
